{% extends "center/base.html" %}
{% block content %}

<h2>O‘quvchi qo‘shish – {{ group.name }}</h2>

<form method="post">
  {% csrf_token %}
  <label>F.I.SH:</label><br>
  {{ form.full_name }}<br><br>
  <label>Telefon raqam:</label><br>
  {{ form.phone }}<br><br>
  <label>Seriya:</label><br>
  {{ form.passport_series }}<br><br>
  <label>Raqam:</label><br>
  {{ form.passport_number }}<br><br>
  <label>JSHSHIR:</label><br>
  {{ form.jshr }}<br><br>

  <div class="d-flex justify-content-between">
    <a href="{% url 'group_detail' group.id %}"><button class="btn btn-primary"  type="button">❮ Orqaga</button></a>
    <button type="submit" class="btn btn-success">Saqlash ✔</button>
  </div>
</form>

<br>

{% endblock %}
