{% extends "center/base.html" %}
{% block content %}
{% load widget_tweaks %}

<div class="d-flex justify-content-between align-items-center flex-wrap page-title">
  <h4>
    {{ student.full_name }}
    <span>{{ student.group }}</span>
  </h4>
  <div>
    <strong>Sana:</strong> {{ student.group.start_date|date:"d.m.Y" }} -  {{ student.group.end_date|date:"d.m.Y" }}<br>
    <strong>Vaqt:</strong> {{ student.group.days }} | {{ student.group.time }} <br>
  </div>
</div>

<form method="post" class="mt-3 p-3 form-crm">
  {% csrf_token %}
  
  <div class="mb-3">
    <label class="form-label">To'lov:</label>
    {{ form.amount|add_class:"form-control" }}
  </div>

  <div class="mb-3">
    <label class="form-label">To'lov usuli:</label>
    {{ form.payment_method|add_class:"form-control" }}
  </div>

    <div class="d-flex justify-content-between">
        <a href="{% url 'group_detail' student.group.id %}"><button class="btn btn-secondary"  type="button">❮ Orqaga</button></a>
        <button type="submit" class="btn btn-primary">Saqlash<i class="bi bi-check-lg"></i></button>
    </div>
</form>
{% endblock %}
