{% extends "center/base.html" %}
{% block content %}
{% load widget_tweaks %}
<h2>O‘quvchi qo‘shish – {{ group.name }}</h2>

<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">F.I.SH:</label>
    {{ form.full_name|add_class:"form-control" }}
  </div>

  <div class="mb-3">
    <label class="form-label">Telefon:</label>
    {{ form.phone|add_class:"form-control" }}
  </div>

  <div class="mb-3">
    <label class="form-label">Pasport seriyasi:</label>
    {{ form.passport_series|add_class:"form-control" }}
  </div>

  <div class="mb-3">
    <label class="form-label">Pasport raqami:</label>
    {{ form.passport_number|add_class:"form-control" }}
  </div>
  
  <div class="mb-3">
    <label class="form-label">JSHSHIR:</label>
    {{ form.jshr|add_class:"form-control" }}
  </div>
  


  <div class="d-flex justify-content-between">
    <a href="{% url 'group_detail' group.id %}"><button class="btn btn-primary"  type="button">❮ Orqaga</button></a>
    <button type="submit" class="btn btn-success">Saqlash ✔</button>
  </div>
</form>

<br>

{% endblock %}
