{% extends "center/base.html" %}
{% block content %}
{% load custom_tags %}

<h2>{{ group.name }} - Davomat ({{ today|date:"d.m.Y" }})</h2>

<form method="post">
  {% csrf_token %}
  <div class="group-table">
  <table>
    <thead>
      <tr>
        <th>№</th>
        <th>F.I.SH</th>
        <th>Bugun</th>
        {% for d in all_dates %}
          <th>{{ d|date:"d.m.Y" }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td class="text-start">{{ student.full_name }}</td>
          <td><input type="checkbox" name="attendance_{{ student.id }}"></td>
          {% for d in all_dates %}
            <td class="text-center">
              {% if attendance_data|get_item:student|get_item:d %}
                ✅
              {% else %}
                ❌
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <br>
<div class="d-flex justify-content-between">
  <a href="{% url 'group_detail' group.id %}" class="btn btn-primary">❮ Orqaga</a>
  <button type="submit" class="btn btn-success">Saqlash ✔</button>
</div>
</form>



{% endblock %}
