{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>DIGITAL CRM</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/jjj.css' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
    <meta name="description" content="Shirin CRM - O'zbekistondagi eng oson va samarali CRM tizimi. O'quv markazingizni avtomatlashtiring, xodimlarigizni boshqaring va mijozlaringizni oshiring.">
    <meta name="keywords" content="Shirin CRM, DIGITAL CRM, Digital Academy, Digital Academy CRM, Doniyor CRM, Oson CRM, Doniyor CRM">
    <meta name="author" content="Abduvoitov Doniyor">
    <link rel="canonical" href="https://digitalshirin.pythonanywhere.com/">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    
    <div class="container">
        {% block content %}{% endblock %}
    </div>

        
</body>
</html>