{% extends "center/base.html" %}
{% block content %}

<h2>O‘quvchini tahrirlash – <b>{{ student.full_name }}</b></h2>

<form method="post">
  {% csrf_token %}

  <div class="form-group">
    <label for="{{ form.full_name.id_for_label }}">F.I.SH</label>
    {{ form.full_name }}
  </div>

  <div class="form-group">
    <label for="{{ form.phone.id_for_label }}">Telefon raqami</label>
    {{ form.phone }}
  </div>

  <div class="form-group">
    <label for="{{ form.passport_series.id_for_label }}">Pasport seriyasi</label>
    {{ form.passport_series }}
  </div>
  <div class="form-group">
    <label for="{{ form.passport_number.id_for_label }}">Pasport raqami</label>
    {{ form.passport_number }}
  </div>
  <div class="form-group">
    <label for="{{ form.jshr.id_for_label }}">JSHSHIR</label>
    {{ form.jshr }}
  </div>

  <div class="d-flex justify-content-between mt-3">
    <a href="{% url 'group_detail' student.group.id %}">
      <button class="btn btn-primary" type="button">❮ Orqaga</button>
    </a>
    <button type="submit" class="btn btn-success">Saqlash ✔</button>
  </div>
</form>

{% endblock %}
