{% extends "center/base.html" %}
{% block content %}
{% load static %}

{% if messages %}
  <div id="custom-toast-container">
    {% for message in messages %}
      <div class="custom-toast show">
        <div class="custom-toast-body">
          <span class="custom-toast-icon">✅</span>
          <span>{{ message }}</span>
          <button class="close-toast" onclick="this.parentElement.parentElement.remove()">×</button>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}



<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-light text-white ps-3 pe-3 pt-2 pb-2 m-0">
        <h5 class="modal-title text-dark" id="confirmDeleteModalLabel">Tasdiqlang</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Yopish"></button>
      </div>
      <div class="modal-body">
        Siz ushbu o‘quvchini o‘chirishni xohlaysizmi?
      </div>
      <div class="modal-footer d-flex justify-content-between p-2">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Yo‘q</button>
        <form method="post" id="deleteStudentForm">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Ha, o‘chirilsin</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between align-items-center flex-wrap page-title">
  <h4>
    {{ group.name }}
    <span>Malaka oshirish</span>
  </h4>
  <div>
    <strong>Sana:</strong> {{ group.start_date|date:"d.m.Y" }} -  {{ group.end_date|date:"d.m.Y" }}<br>
    <strong>Vaqt:</strong> {{ group.days }} | {{ group.time }} <br>
  </div>
</div>

<div style="margin: 10px 0px; padding: 10px 0px;">
  <a href="{% url 'home' %}" class="btn btn-secondary mb-1">❮ Orqaga</a>
  <a href="{% url 'add_student' group.id %}" class="btn btn-primary mb-1">Qo'shish <i class="bi bi-person-fill-add"></i></i></a>
  <a href="{% url 'attendance_view' group.id %}" class="btn btn-warning mb-1">Davomat <i class="bi bi-calendar3"></i></a>
  <a href="{% url 'export_group_excel' group.id %}" class="btn btn-outline-success mb-1"><i class="bi bi-filetype-xls"></i> Yuklab olish</a>
</div>

<div class="group-table">
  <table>
    <thead>
      <tr>
        <th style="width: 60px;">№</th>
        <th>F.I.SH</th>
        <th style="width: 160px;">Telefon</th>
        <th style="width: 150px;">Pasport</th>
        <th style="width: 150px;">JSHSHIR</th>
        <!-- <th style="width: 150px;">Qo‘shilgan sana</th> -->
        <th style="width: 150px;">To‘lov (so'm)</th>
        <th>Shartnoma</th>
        <th style="width: 110px;">Harakatlar</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td class="text-start">{{ student.full_name }}</td>
        <td><a href="tel:{{ student.phone }}">{{ student.phone }}</a></td>
        <td>{{ student.passport_series }} {{ student.passport_number }}</td>
        <td>{{ student.jshr }}</td>
        <!-- <td>{{ student.join_date }}</td> -->
        <td class="text-success">
          {% for payment in student.payments.all %}
            <a href="{% url 'edit_payment' payment.id %}">{{ payment.amount|floatformat:0 }} <span class="text-secondary">({{payment.payment_method}})</span></a><br>
          {% empty %}
            <a href="{% url 'add_payment' student.id %}" class="text-danger">To‘lanmagan</a>
          {% endfor %}
        </td>
        <td class="text-center">
          <form method="post" action="{% url 'toggle_contract' student.id %}" style="height: 0px; display: flex; justify-content: center; align-items: center;">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm {% if student.has_contract %}btn-success{% else %}btn-outline-secondary{% endif %}">
              {% if student.has_contract %}
                <i class="bi bi-check-lg"></i>
              {% else %}
                <i class="bi bi-x"></i>
              {% endif %}
            </button>
          </form>
        </td>
        <td>
          <a href="{% url 'edit_student' student.id %}" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
          <button type="button" class="btn btn-danger"  data-bs-toggle="modal"  data-bs-target="#confirmDeleteModal" onclick="prepareDelete({{ student.id }})"> <i class="bi bi-trash"></i></button>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="9" class="text-danger">Hozircha o'quvchilar mavjud emas</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
function prepareDelete(studentId) {
  const form = document.getElementById('deleteStudentForm');
  form.action = `/o'quvchini-o'chirish/${studentId}/`;
}
</script>
<script>
  setTimeout(() => {
    document.querySelectorAll('.custom-toast').forEach(el => el.remove());
  }, 2500);
</script>

{% endblock %}
