{% extends "center/base.html" %}
{% block content %}
<h2>Tizimga kirish</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label for="id_username">Foydalanuvchi nomi:</label>
    <input type="text" name="username" class="form-control" required>
  </div>
  <div class="mb-3">
    <label for="id_password">Parol:</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-primary">Kirish</button>
</form>
{% endblock %}
