{% extends "center/base.html" %}
{% block content %}
{% load widget_tweaks %}
<h2>Yangi guruh yaratish</h2>

<form method="post">
  {% csrf_token %}
  
  <label>Guruh nomi:</label><br>
  <!-- {{ form.name }}<br><br> -->
  {{ form.name|add_class:"form-control" }}

  <label>Kurs nomi:</label><br>
  {{ form.course_name }}<br><br>
 

  <label>Boshlanish sanasi:</label><br>
  {{ form.start_date }}<br><br>

  <label>Tugash sanasi:</label><br>
  {{ form.end_date|add_class:"form-control" }}

  <label>Dars kunlari (masalan: Du, Cho, Ju):</label><br>
  {{ form.days|add_class:"form-control" }}

  <label>Dars vaqti (masalan: 14:00–16:00):</label><br>
  {{ form.time }}<br><br>

  <div class="d-flex justify-content-between">
    <a href="{% url 'home' %}"><button class="btn btn-primary"  type="button">❮ Orqaga</button></a>
    <button type="submit" class="btn btn-success">Saqlash ✔</button>
  </div>
</form>



{% endblock %}
