{% extends "center/base.html" %}

{% block content %}
{% load static %}
<div class="container">
    <div class="page-title d-flex justify-content-between align-items-center">
        <div>
            Shirin 
        </div>
        <div class="logo" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 30px;">
            <img style="width:40px;" src="{% static 'image/logo.png' %}" alt="">
             Digital Academy
            </div>

        <div class="exit">
            <a href="{% url 'logout' %}" style="font-size: 20px; color: white; font-weight: 500;">Chiqish <i class="bi bi-box-arrow-right"></i></a>
        </div>
    </div>




    <!-- Guruh qo'shish tugmasi -->
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <a href="{% url 'create_group' %}" class="btn btn-primary mb-2">Qo'shish  <i class="bi bi-people">+</i></a>
        <form class="d-flex align-items-center" method="get" action="{% url 'home' %}">
            <input class="pe-2" style="border-right: none; position: relative; left: 4px; padding: 5.5px; outline: 2px solid #0d6efd"  type="search" placeholder="Qidiruv" aria-label="Search" name="q" value="{{ query }}">
            <button style="height: 37px; z-index: 1;" class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
        </form>
    </div>

    <!-- Qidiruv natijalari -->
    <div id="searchResults">
        {% if query %}
            {% if students %}
                <ul>
                    {% for student in students %}
                        <li>
                            <a href="{% url 'group_detail' student.group.id %}">
                                {{ student.full_name }}
                            </a>
                            <br>
                            <small>
                                <i class="bi bi-telephone text-primary"></i> Telefon: <a href="tel:{{ student.phone }}">{{ student.phone }} </a><br>
                                <i class="bi bi-people text-primary"></i> Guruh:  <a href="{% url 'group_detail' student.group.id %}">{{ student.group.name }}</a> <br>
                                <i class="bi bi-cash text-primary"></i> To'lov: 
                                {% if student.payments.all %}
                                    {{ student.payments.last.amount }} so'm
                                {% else %}
                                    <a href="{% url 'add_payment' student.id %}" style="color: red;">To‘lov yo‘q</a>
                                {% endif %}
                            </small>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Hech qanday o‘quvchi topilmadi.</p>
            {% endif %}
        {% endif %}
    </div>

    <!-- Guruhlar jadvali -->
    <div class="group-table">
        <table>
            <thead>
                <tr>
                    <th style="width: 45px;">№</th>
                    <th>Guruh Nomi</th>
                    <th>Dars kunlari</th>
                    <th>Dars vaqti</th>
                    <th style="width: 200px;">Sana</th>
                    <th style="width: 100px;">To‘lovlar</th>
                    <th style="width: 110px;">Harakatlar</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td class="text-start"><a href="{% url 'group_detail' group.id %}">{{ group.name }}</a></td>
                    <td>{{ group.days }}</td>
                    <td>{{ group.time }}</td>
                    <td>{{ group.start_date|date:"d.m.Y" }} - {{ group.end_date|date:"d.m.Y" }}</td>
                    <td>{{ group.student_count }}/{{ group.paid_count }}</td>
                    <td class="actions">
                        <a href="{% url 'edit_group' group.id %}" class="btn btn-primary"><i class="bi bi-pencil"></i></a>
                        <a href="{% url 'delete_group' group.id %}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="7" style="text-align: center; color: red;">Hozircha guruhlar mavjud emas</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
