body{
    /* font-family: Arial, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 500; /* Apple nav linklar odatda semi-bold */
    font-size: 14px;
    letter-spacing: -0.01em;

    background-color: #ffffffdf;
    padding: 20px 0px;
    color: #333;
    margin: 0;
}
.topbar{
    background-color: #2c3e50;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.exit{
    /* background-color: #ff4d4d; */
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.exit:hover i{
    /* background-color: #ff1a1a; */
    color: rgb(255, 66, 66);
}
.exit:hover{
    color: white;
}
nav{
    background-color: #0d6efd;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 30px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    white-space: nowrap;
}
td, th {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
th{
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
}
form{
    margin: 20px 0;
}
input{
    padding: 10px;
    /* margin: 5px 0; */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
label{
    font-weight: bold;
}
select{
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
a{
    text-decoration: none;

}
tr {
    background-color: #ffffff;
}
tr:hover {
    background-color: #ddd;
}


#searchResults {
    background-color: #f9f9f9;
    margin-top: 10px;
    border-radius: 4px;
}

#searchResults ul {
    list-style-type: none;
    padding: 0;
}

#searchResults li {
    margin-bottom: 10px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchResults li a {
    font-weight: bold;
    color: #2c3e50;
    text-decoration: none;
}
.group-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .group-table{
        overflow: scroll;
    }
    body {
        padding: 10px 0px;
        font-size: 12px;
    }
    h3{
        font-size: 20px;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        font-size: 20px;
    }
    table{
        /* width: 700px; */
        font-size: 12px;
    }
    .btn{
        font-size: 12px;
        padding: 5px 9px;
    }
    .form-control{
        font-size: 12px;
        padding: 5px 9px;
    }

  
}



